#buttonDiv > button {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #F28F3B;
  color: #FFFFFF;
  border: none;
  font-size: 18pt;
}

.disabled {
  background-color: #588B8B !important;
}

#buttonDiv {
    margin-top: 5px;
    margin-bottom: 5px;
}

#congratsDiv {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 8px;
    background-color: #C8553D;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    visibility: hidden;
    font-size: 14pt;
}

.congratsDivVisible {
    visibility: visible !important;
}

#reset {
    border-radius: 8px;
    text-align: center;
    background-color: #588B8B;
    color: #FFFFFF;
    height: 60px;
    width: 100px;;
    border: none;
    display: inline;
    font-size: 14pt;
}

#add {
    border-radius: 8px;
    text-align: center;
    background-color: #F28F3B;
    color: #FFFFFF;
    height: 60px;
    width: 100px;
    border: none;
    display: inline;
    font-size: 14pt;
}

#remove {
    border-radius: 8px;
    text-align: center;
    background-color: #F28F3B;
    color: #FFFFFF;
    height: 60px;
    width: 100px;
    border: none;
    display: inline;
    font-size: 14pt;
}

#settingsDiv {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#assocSpan {
    border-radius: 8px;
    text-align: left;
    background-color: #588B8B;
    color: #FFFFFF;
    height: 60px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    display: inline-flex;
    font-size: 14pt;
}

select {
    float: right;
}
